<div class="row">
  <%= render @user %>
</div>
<div class="row">
  <h3>Recent posts</h3>
  <% @posts.order("created_at desc").each do |post| %>
    <div class="col-sm-10 well">
      <p><%= post.body %></p>
    </div>
  <% end %>
</div>
