<div class="container">
  <h1><%= @user.id %></h1>
  <h2><%= @user.name %></h2>
  <p><%= @user.followers.count %></p>
  <%= link_to "Follow", follow_user_path, class: "btn btn-info follow-count" %>

</div>
